.announcement {
    background-color: olive;
    border: 2px solid black;
    padding: 20px;
    position: relative;
    
    button {
    background-color: hsl(75, 80%, 50%);
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 5px;
    border: none;
    }
    p {
        font-size: 1.2em;
        text-align: justify;
    }
}
